<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='\css\style.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <h1>Smile Classifier</h1>
      <div class="nav-items">
        <h5><a href="/classify">Classify an Image</a></h5>
        <h5><a href="/history">Classification History</a></h5>
      </div>
    </div>

    <h3>Classification Result</h3>
    <img src="../{{record.title}}" />
    <p>
      <strong>The person is {{record.result}}</strong>
    </p>
  </body>
</html>
