<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Smile Classifier</h1>
    <h3>This app classifies images of people into two categories:</h3>
    <ol>
      <li>Smiling</li>
      <li>Not Smiling</li>
    </ol>
    <p>
      The classier is a CNN model built using Tensorflow. CNN works the best in
      classifying images.
    </p>
  </body>
</html>
