<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', path='\css\style.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <h1>Smile Classifier</h1>
      <div class="nav-items">

        <h5><a href="/classify">Classify an Image</a></h5>
        <h5><a href="/history">Classification History</a></h5>
      </div>
    </div>
    <div class="meme">
      <img src="meme_images/2.jpg">
    </div>
    
    <p>
      This app classifies images of people into two categories:
    <strong>Smiling, Not Smiling</strong>
      The classier is a CNN model built using Tensorflow. I chose this model CNN works the best in
      classifying images. It uses convolution operations to extract features from images. These features are then used to classify the images.
    </p>
    <h4>Model Configuration</h4>
    <img id="model-config" src="meme_images\model_configuration.JPG">
  </body>
</html>
